@import "./base/reset";
@import "./utils/variebles";
@import "./utils/button";
@import  "./base/common";
@import "./components/container.scss";
@import "./layout/header";
@import "./layout/main-section";
@import "./layout/our-pluses";
@import "./layout/our-work";
@import "./layout/our-developers";
@import "./layout/company";
@import "./layout/footer";
@import "./layout/form";
@import "./layout/portfolio";