@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin flex {
    display: flex;
    flex-direction: row;
}

@mixin FlCol-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin Flwr-centre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin FlCol {
    display: flex;
    flex-direction: column;
}

@mixin InFl-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
