:root {
    --header-color: #ECECEC;
    --button-color: #2196F3;
    --white-color: #FFFFFF;
    --main-color: #2F303A;
    --grey-color: #757575;
    --title-work: #F5F4FA;
    --link-color: #212121;
    --color-dark: #000000;
    --buttom-active: #188CE8;
    --border-color: #eeeeee;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
