.footer {
    background-color: var(--main-color);
    padding-bottom: 60px;
    padding-top: 60px;

    .container {
        display: flex;
    }

    .div-footer {
        display: flex;
        flex-direction: column;
    }

    .logo-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: var(--button-color);
        margin-bottom: 20px;
        display: inline-block;
    }


    .logo__style--footer-style {
        color: var(--white-color);
    }

    .footer-address {
        display: flex;
        flex-direction: column;
    }

    .footer-address-list {
        display: flex;
        flex-direction: column;


        &__item {
            display: flex;
            flex-direction: column;
        }

        &__item:not(:last-child) {
            margin-bottom: 9px;
        }


        &__item--1 {
            color: var(--white-color);
            font-weight: 400;
            line-height: 1.71;
            font-style: normal;
            margin-bottom: 9px;
        }



        &__link {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            font-weight: 400;
            line-height: 1.71;
            font-style: normal;
        }

        &__link:hover {
            color: var(--button-color)
        }
    }

    .follow {
        display: flex;
        margin-left: 70px;
        flex-direction: column;

        .follow-title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.03em;
            color: #fff;
            margin-bottom: 20px;
            margin-top: 12px;
        }

        .follow-list {
            display: flex;
            gap: 10px;


            &__item {
                border-radius: 50%;
                display: flex;
            }

            &__link {
                display: flex;
                width: 44px;
                height: 44px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                fill: #FFFFFF;
                background-color: rgba(255, 255, 255, 0.1);
                /* анімація */
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-delay: 0;
            }

            &__link:hover {
                fill: #ffffff;
                background-color: var(--button-color);
            }
        }
    }

    .newsletter {
        margin-left: 93px;


        .footer-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: .03em;
            color: var(--white-color);
            margin-bottom: 20px;
            margin-top: 12px;
        }

        .newsletter-box {
            display: flex;
            align-items: center;
            flex-direction: row;

            &__input {
                width: 358px;
                margin: 0 12px 0 0;
                padding: 0 16px;
                height: 50px;
                color: var(--white-color);
                background: rgba(0, 0, 0, 0);
                border: 1px solid rgba(255, 255, 255, .3);
                border-radius: 4px;
                outline: none;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            }


            &__button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                fill: var(--white-color);
            }

            &__title {

                font-weight: 700;
                font-size: 16px;
                line-height: 1.9;
                letter-spacing: .06em;
                margin-right: 10px;
            }


        }


    }
}





// .footer-flex {
//     display: flex;
// }

// .footer {
//     background-color: var(--main-color);
//     padding-bottom: 60px;
//     padding-top: 60px;
// }

// .footer-address .footer-address-ul .footer-address-ul-li-1 .footer-address-ul-li {
//     display: flex;
//     flex-direction: column;
// }

// .footer-address-ul-li-1 {
//     color: var(--white-color);
//     font-weight: 400;
//     line-height: 1.71;
//     font-style: normal;
//     margin-bottom: 9px;
// }

// .footer-address-ul-li-a {
//     color: rgba(255, 255, 255, 0.6);
//     ;
//     text-decoration: none;
//     font-weight: 400;
//     line-height: 1.71;
//     font-style: normal;
// }

// .footer-address-ul-li-a:hover {
//     color: var(--button-color)
// }

// .logo-footer-span {
//     color: var(--white-color);
// }

// .logo-footer {
//     font-family: "Raleway", sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     letter-spacing: 0.03em;
//     color: var(--button-color);
//     margin-bottom: 20px;
//     display: inline-block;
// }

// .footer-address-ul-li:not(:last-child) {
//     margin-bottom: 9px;
// }

// .div-footer {
//     display: flex;
//     flex-direction: column;
// }

// .follow {
//     display: flex;
//     margin-left: 70px;
//     flex-direction: column;
// }

// .follow-title {
//     font-family: var(--font-family);
//     font-weight: 700;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     color: #fff;
//     margin-bottom: 20px;
//     margin-top: 12px;
// }

// .follow-list {
//     display: flex;
//     /* justify-content: center; */
//     gap: 10px;
// }

// .follow-item {
//     /* text-align: center;
//     align-items: center;
//     justify-content: center; */
//     border-radius: 50%;
//     display: flex;
// }

// .follow-link {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     fill: #FFFFFF;
//     background-color: rgba(255, 255, 255, 0.1);
//     /* анімація */
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-delay: 0;

// }

// .follow-link:hover {
//     fill: #ffffff;
//     background-color: var(--button-color);
// }
// .newsletter-box {
//     display: flex;
//     align-items: center;
//     flex-direction: row;

// }

// .newsletter-email {
//     width: 358px;
//     margin: 0 12px 0 0;
//     padding: 0 16px;
//     height: 50px;
//     color: var(--white-color);
//     background: rgba(0, 0, 0, 0);
//     border: 1px solid rgba(255, 255, 255, .3);
//     border-radius: 4px;
//     outline: none;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

// }

// .newsletter-btn {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     fill: var(--white-color);
// }


// .newsletter-title {
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.9;
//     letter-spacing: .06em;
//     margin-right: 10px;

// }
// .newsletter {
//     margin-left: 93px;
// }
// .footer-title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: .03em;
//     color: var(--white-color);
//     margin-bottom: 20px;
//     margin-top: 12px;
// }