.header {
    background-color: var(--header-color);
    padding-top: 24px;
    padding-bottom: 25px;

    .container {
        display: flex;
        align-items: center;

        .header-nav {
            margin-right: 318px;
            display: flex;
            align-items: center;

            .logo {
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 26px;
                letter-spacing: 0.03em;
                color: var(--button-color);
                margin-right: 93px;

                &__style--header-style {
                    color: var(--color-dark);
                }
            }

            .header-list {
                display: flex;
                align-items: center;

                &__item:not(:last-child) {
                    margin-right: 50px;
                }

                &__item {
                    position: relative;
                }
            }
        }
    }
}


// .logo {
//     font-family: "Raleway", sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     letter-spacing: 0.03em;
//     color: var(--button-color);
//     margin-right: 93px;
// }

// .logo-header {
//     color: var(--color-dark);
// }

// .header-nav-ul-li-a {
//     color: var(--link-color);
//     font-weight: 500;
//     text-decoration: none;
//     letter-spacing: 0.02em;
//     /* анімація */
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-delay: 0;
// }

// .header-ul-li-a {
//     color: var(--grey-color);
//     text-decoration: none;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     display: flex;
//     gap: 10px;
//     fill: #757575;
// }

// .svg-header {
//     margin-top: 2px;
// }

// .header-contacts-list,
// .header-nav,
// .flex,
// .header-nav-list {
//     display: flex;
//     align-items: center;
// }

// .header-nav {
//     margin-right: 318px;
// }

// .contacts-item:hover .header-ul-li-a {
//     fill: var(--button-color);
//     color: var(--button-color)
// }

// .header-nav-item {
//     position: relative;
// }

// .active-link::after {
//     position: absolute;
//     content: "";
//     margin-top: 28px;
//     left: 0;
//     width: 100%;
//     height: 3px;
//     background-color: var(--button-color);
//     border-radius: 3px;
//     display: block;
//     /* анімація */
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-delay: 0;
// }

// .active-link:hover::after {
//     background-color: darkblue;
// }

// .header-ul-li-a {
//     color: var(--grey-color);
//     text-decoration: none;
//     font-weight: 500;
//     /* анімація */
//     transition-property: color, fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-delay: 0;
// }


// .header-nav-item:not(:last-child) {
//     margin-right: 50px;
// }

// .contacts-item:nth-child(1) {
//     margin-right: 30px;
// }

// .header-ul-li-a:hover {
//     color: var(--button-color)
// }

// .header-nav-ul-li-a:hover {
//     color: var(--button-color);
// }

// .header-nav-ul-li-a:hover {
//     color: var(--button-color);

// }